body {
    display:flex;
    flex-direction:column;
    margin:0;
    justify-content: center;
    align-items: center;
}

#rockBtn

#paperBtn

#scissorsBtn

#finishText {
    color:blue;
    background-color: aqua;
}